/*** centering plus sign in games.html ***/
.large {
    padding-top: 50px;
}

/*** Nav properties ***/
nav {
    
    background-color: black;
   
}


nav ul a:hover {
    background-color: #323232;
}


nav .brand-logo {
    font-size: 20px;
    padding-left: 30px;

    }
