/********INDEX PAGE *******/
/*** Nav properties ***/
body{
    font-family: 'Open Sans Condensed', sans-serif;
}


nav {
    background-color: black;
    font-family: 'Open Sans Condensed', sans-serif;
   
}
nav ul a {
    font-size: 20px;
    }
nav ul a:hover {
    background-color: #323232;
}

nav .brand-logo {
    font-size: 35px;
    padding-left: 25px;
    font-family: 'Covered By Your Grace', cursive;
}

.main-container{
    font-family: 'Covered By Your Grace', cursive;
    background-color: #323232;
    color:white;
    font-size: 50px;
}

.title-description{
    font-size:28px;
    font-weight: 100;
    color:#df5a5a;
    font-family: 'Open Sans Condensed', sans-serif;
}


#btn-signup {
    margin-bottom: 47px;
    font-size: 20px;
    }

.icon{
    font-size: 40px;
}

.icon-desc{
    font-size: 20px;
}


/*****************GAMES PAGE****************/
/*** centering plus sign in games.html ***/
.large {
    padding-top: 50px;
}

/************ADD GAMES PAGE*************/
form.col>div:nth-child(1) {
    padding-bottom: 19px;
    padding-top: 20px;
}


.switch label input[type=checkbox]:checked + .lever:after {
    background-color: red; 
  }