/********INDEX PAGE *******/
/*** Nav properties ***/
body{
    font-family: 'Roboto Condensed', sans-serif;
}


nav {
    background-color: black;
    font-family: 'Open Sans Condensed', sans-serif;
   
}
nav ul a {
    font-size: 20px;
    }
nav ul a:hover {
    background-color: #323232;
}

nav .brand-logo {
    font-size: 35px;
    padding-left: 25px;
    font-family: 'Covered By Your Grace', cursive;
}

.title{
color:black;
font-size: 30px;

}


.main-container{
    height:50vw;
    background: url('../images/main.jpg') no-repeat center center fixed;
    background-size: cover;
    
}
.promo-section{
    
 
}



/*****************GAMES PAGE****************/
/*** centering plus sign in games.html ***/
.large {
    padding-top: 50px;
}

/************ADD GAMES PAGE*************/
form.col>div:nth-child(1) {
    padding-bottom: 19px;
    padding-top: 20px;
}


.switch label input[type=checkbox]:checked + .lever:after {
    background-color: red; 
  }