<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1UP Loot</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import font-awesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <!--Import logo font-->
    <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap" rel="stylesheet">
    <!--Import default font-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet"> 
    <!-- Materialize minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import style.css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>

    <!--Nav bar fixed-->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('index')}}" class="brand-logo"><img src="../static/images/logo.png" with="30"
                        height="30" alt=""> Loot
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="{{url_for('get_games')}}">Loot</a></li>
                    <li><a href="collapsible.html"><i class="material-icons right">account_circle</i></a></li>
                    <li><a href="mobile.html">Register</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!--Side nav-->

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{url_for('index')}}">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="{{url_for('get_games')}}">Loot</a></li>
        <li><a href="collapsible.html">Login</a></li>
        <li><a href="mobile.html">Register</a></li>
    </ul>

    {% block content %} {% endblock %}

    <!--Footer-->
    <footer class="page-footer" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="footer-copyright">
            <div class="social-icons container center">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a>
                <div class="designed-by">
                    Designed by Nuno Nunes
                </div>
            </div>
        </div>    
    </footer>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Materialize minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!--Import Main Js file-->
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>