{% extends 'base.html' %} {% block content %}

<div class="main-container-games">
    <div class="row">
        <div class="col s12 m12 l12 center title-games">
            <h1 class="games-title">Edit Game</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form id="form-addedit" class="form-addedit" action="{{ url_for('update_game', game_id=game._id ) }}"
                method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">videogame_asset</i>
                        <input id="game_name" name="game_name" type="text" value="{{game.game_name}}" required>
                        <label for=" icon_prefix">Game Name</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">image</i>
                        <input id="game_image" name="game_image" type="url" class="validate" value="{{game.game_image}}"
                            required>
                        <label for="icon_prefix">Image Url(200x200)</label>
                    </div>
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">today</i>
                        <input id="pickup_date" name="pickup_date" type="text" class="datepicker validate"
                            value="{{game.pickup_date}}" required>
                        <label for="icon_prefix">Pickup Date</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">gamepad</i>
                        <select class="validate" id="platform_name" name="platform_name">
                            <option value="" disabled selected>Platform</option>
                            {% for plats in plat %}
                            {% if plats.platform_name == game.platform_name %}
                            <option value="{{plats.platform_name}}" selected>{{plats.platform_name}}</option>
                            {% else %}
                            <option value="{{plats.platform_name}}">{{plats.platform_name}}</option>
                            {% endif %}
                            {%endfor%}
                        </select>
                        <label>Platform</label>
                    </div>

                    <div class="input-field col s12 m4 l4">
                        <i class="material-icons prefix">movie</i>
                        <select class="validate" id="genre_name" name="genre_name">
                            <option value="" disabled selected>Genre</option>
                            {% for genres in genre %}
                            {% if genres.genre_name == game.genre_name %}
                            <option value="{{genres.genre_name}}" selected>{{genres.genre_name}}</option>
                            {% else %}
                            <option value="{{genres.genre_name}}">{{genres.genre_name}}</option>
                            {% endif %}
                            {%endfor%}
                        </select>
                        <label>Genre</label>
                    </div>
                    <div class="switch col s12 m4 l4 center">
                        <label>
                            Off
                            <input id="used" name="game_condition" value="{{game.game_condition}}"
                                type="checkbox">
                            <span class="lever"></span>
                            On
                        </label>

                    </div>


                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12 center">
                        <button class="btn waves-effect waves-green green">Save
                            <i class="material-icons right">save</i>
                        </button>
                        <button <a id="delete-button-link" href="#modal1"
                            class="modal-trigger btn waves-effect waves-orange red">Delete<i
                                class="material-icons right">delete</i></a>
                        </button>



                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <p>Are you sure?</p>
                            </div>
                            <div class="modal-footer center">
                                <button>
                                    <a id="no-button" href="#!" class="modal-close">No</a>
                                </button>
                                <button>
                                    <a id="yes-button" href="{{url_for('delete_game', game_id=game._id)}}">Yes</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}