{% extends 'base.html' %} {% block content %}
<div class="main-container-games">

    <div class="row">
        <div class="col s12 m12 l12 center title-games">
            <h1 class="games-title">Your Loot</h1>
        </div>
    </div>
    <div class="container">
        <div class="row search-bar">
            <div class="input-field col s12 m2 l4 center">
                <select>
                    <option value="" disabled selected>Platform</option>
                    {% for plat in platforms %}
                    <option value="{{plat.platform_name}}">{{plat.platform_name}}</option>
                    {%endfor%}
                </select>
                <label>Platform</label>
            </div>

            <div class="input-field col s12 m2 l4 center">
                <select id="genre_name" name="genre_name">
                    <option value="" disabled selected>Genre</option>
                    {% for genre in genres %}
                    <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                    {%endfor%}
                </select>
                <label>Genre</label>

            </div>

            
            <div class="col s6 m2 l2 center">
                <a href="{{url_for('add_games')}}" class="btn-floating btn-large waves-effect waves-light red right"><i
                        class="material-icons">add</i></a>

            </div>
            </form>

        </div>

        <div class="row games-row">
            {% for game in games %}
            <div class="col s12 m4 l4 center">
                <a href="{{url_for('edit_game', game_id=game._id)}}"><img class="game-cover" src="{{game.game_image}}"
                        alt="" width="200" height="200"></a>
                <div class="game-description">
                    <strong>
                        <p class="game-title">{{game.game_name}}</p>
                    </strong>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>



    {% endblock %}