{% extends 'base.html' %} {% block content %}

<div class="parallax-container">
    <div class="parallax"><img src="../static/images/main-section-image.png"></div>
</div>
<div class="row main-container">


    <div id="about" class="col s12 m12 l12 center">

        <p class="title">Your game collection in one place</p>

    </div>
    <div class="col s12 m12 l12 center">
        <p class="title-description">1Up Loot is a game collection manager app to help you organize your gaming
            collection.</p>
        <p class="title-description">It supports all major platforms and it's easy to use!</p>
        <a id="btn-signup"  href="{{url_for('register')}}" class="waves-effect waves-light btn-large orange darken-2">Sign up here!</a>
    </div>
</div>


<div class="row center promo-section">
    <div class="parallax-container">
        <div class="parallax"><img src="../static/images/main-section-image2.png"></div>
    </div>
    <div class="col s12 m12 l12 center">

        <h2 class="features-title">Features</h2>

    </div>
    <div class="container">
        <div id="features"class="features">
            <div class="first-row">
                <div class="col s12 m4 l4">
                    <i class="material-icons icon">edit</i></a>
                    <p class="icon-desc">Easy to edit and add your games</p>
                </div>
                <div class="col s12 m4 l4">
                    <i class="material-icons icon">data_usage</i></a>
                    <p class="icon-desc">All data in one place</p>
                </div>
                <div class="col s12 m4 l4">
                    <i class="material-icons icon">mobile_friendly</i></a>
                    <p class="icon-desc">Mobile Friendly</p>
                </div>
            </div>
            <div class="second-row">
                <div class="col s12 m4 l4">
                    <i class="material-icons icon">games</i></a>
                    <p class="icon-desc">Major platforms supported</p>
                </div>
                <div class="col s12 m4 l4">
                    <i class="material-icons icon">system_update</i></a>
                    <p class="icon-desc">Constant Updates</p>
                </div>
                <div class="col s12 m4 l4">
                    <i class="material-icons icon">videogame_asset</i></a>
                    <p class="icon-desc">Retro Games support</p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}