{% extends 'base.html' %} {% block content %}

<!--Main Parallax container-->
<div class="parallax-container">
    <div class="parallax"><img alt="main photo" src="../static/images/main-section-image.png"
            srcset="../static/images/main-section-image.png"></div>
</div>
<!--Main page container-->

<div class="row main-container">
    <div id="about" class="col s12 m12 l12 center">
        <p class="title">Your game collection in one place</p>
    </div>
    <!--If user is logged in don't show the sign up button-->
    {% if session['username'] %}

    <div class="col s12 m12 l12 center">
        <p class="title-description">1Up Loot is a game collection manager app to help you organize your gaming
            collection.</p>
        <p class="title-description">It supports all major platforms and it's easy to use!</p>
    </div>

    {% else %}
    <div class="col s12 m12 l12 center">
        <p class="title-description">1Up Loot is a game collection manager app to help you organize your gaming
            collection.</p>
        <p class="title-description">It supports all major platforms and it's easy to use!</p>
        <a id="btn-signup" href="{{url_for('register')}}" class="waves-effect waves-light btn-large blue darken-2">Sign
            up here!</a>
    </div>

    {% endif %}
</div>

<!--Feature Section parallax container-->
<div class="row center promo-section">
    <div class="parallax-container">
        <div class="parallax"><img alt="second main photo" src="../static/images/main-section-image2.png"
                srcset="../static/images/main-section-image2.png"></div>
    </div>
    <!--Features Title-->
    <div class="col s12 m12 l12 center">
        <h2 class="features-title">Features</h2>
    </div>
    <!--All feature icons-->
    <div class="container">
        <div id="features" class="features">
            <div class="col s12 m4 l4">
                <i class="material-icons icon">edit</i>
                <p class="icon-desc">Add/Edit Games</p>
            </div>
            <div class="col s12 m4 l4">
                <i class="material-icons icon">data_usage</i>
                <p class="icon-desc">All data in one place</p>
            </div>
            <div class="col s12 m4 l4">
                <i class="material-icons icon">mobile_friendly</i>
                <p class="icon-desc">Mobile Friendly</p>
            </div>
            <div class="col s12 m4 l4">
                <i class="material-icons icon">games</i>
                <p class="icon-desc">Major platforms supported</p>
            </div>
            <div class="col s12 m4 l4">
                <i class="material-icons icon">system_update</i>
                <p class="icon-desc">Constant Updates</p>
            </div>
            <div class="col s12 m4 l4">
                <i class="material-icons icon">videogame_asset</i>
                <p class="icon-desc">Retro Games Support</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}